.wrapper {
  width: 100%;
  z-index: 9999999999999999999;
  display: none;
  background-color: white;
  position: absolute;
}
.scarfPreview {
  width: 720px;
  height: 240px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  margin-top: 15px;
}
.scarfPreview:hover {
  border: 1px solid #EE508A;
}
.scarfTools {
  margin-top: 20px;
  display: flex;
}
.scColorPicker {
  position: absolute;
  display: none;
  top: -110px;
  left: 15px;
}
.mySCBtn {
  width: 45px;
  height: 45px;
}
.scSubmitBtn {
  width: 100%;
  height: 40px;
}
.scThemes {
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  margin-left: 10px;
}
.scThemeIMG {
  display: inline-block;
}

/*utilities*/

.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
textarea {
  resize: none;
}
.dispFlex {
  display: flex;
}

.center{
  margin: 0 auto;
  width: 50%;
}

.centerCanvas{
  margin: 0 auto;
  width: 62%;
}
